.lists-title{
    width: 100%;
    text-align: center;
    color: white;
    position: sticky;
    top: 160px;
    padding: 20px;
    letter-spacing: 2px;
    backdrop-filter: blur(10px);
}

.contact-list{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
}
