
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
  background-color:  rgb(94, 87, 160);
}

.app{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  width: 69%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  &__categories{
    display: flex;
    gap: 30px;
    a{
      color: white;
      text-decoration: none;
    }
    .active{
        text-decoration:2px underline ;
      }
  }
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

  
.disable{
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: fixed;
  backdrop-filter: blur(8px);
}

.enable{
  display: none;
}